################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dilipprasad/FileContentIndex
/.vs/dilipprasad/v17
/.vs
